@use '../../styles/variables'
@use '../../styles/mixins'


.card
    background-color: variables.$bg-cadrs
    padding: 2rem
    border-radius: 1rem
    width: 17rem
    max-width: 100%

    .type
        @include mixins.center
        justify-content: space-between
        margin-bottom: 2.7rem

        p
            font-size: 1.3rem

        img
            width: 1.5rem

    .info-card
        .d-w-m
            font-size: 3.5rem
            font-weight: 300
            margin-bottom: 1rem
            color: variables.$color-fonts

        p
            font-size: 1rem
            color: variables.$color-font-inactive                


