@use '../../styles/variables'
@use '../../styles/mixins'


.about-me
    .info
        background-color: variables.$color-about-me
        padding: 2.5rem 0 6.3rem 2.2rem
        border-radius: .8rem
        width: 180px   
        
        img
            width: 6rem
            border-radius: 50%
            border: 2px solid white
            margin-bottom: 1.4rem 

        p
            font-size: 1rem
            color: variables.$color-font-inactive 
            margin-bottom: .3rem

        h1
            font-weight: 300
            font-size: 2.7rem
            width: 10%

    .navegation
        display: flex
        flex-direction: column
        background-color: variables.$bg-cadrs
        padding: 2.2rem
        border-radius: 0 0 .8rem .8rem
        gap: 1.5rem

        a
            font-size: 1.4rem
            color: variables.$color-font-inactive
            cursor: pointer

            &:hover
                color: variables.$color-fonts    


              
